.body {
    height: 100vh;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    position: relative;
    background-image: linear-gradient(to bottom, #3541c9, #304bc9, #2e54c9, #305cc8, #3564c6, #426ac8, #4e71cb, #5877cd, #697ed5, #7986de, #898de6, #9895ee);
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
}

.form {
    width: 50vw;
    max-width: 20em;
    padding: 2em;
    position: relative;
    background: rgba(0, 0, 0, 0.15);
    margin: 0;
    border: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: #363434;

}

.form:before {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    height: 2px;
    width: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#3c61b1), to(#cdc7c7));
    background: linear-gradient(to right, #3c61b1, #cdc7c7);
}

.formInput {
    height: 55px;
}

@media screen and (max-width: 600px) {
    .form {
        width: 60%;
    }
}

.error {
    font-size: 10pt;
    color: #c61a1a;
    margin-left: 5px;
}

.serverErrorWrapper {
    height: 20px;
}
.sendingWrapper {
    height: 20px;
    font-size: 10pt;
}
.text {
    text-decoration: none;
    color: #404040;
    font-size: 17px;
}
.text:hover {
    font-weight: 600;
}

