.superInput {
    outline: none;
    border: none;
    font-size: 12pt;
    padding: 0;
    width: 99%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.blue {
    width: 250px;
    border: 2px solid #4676D7;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
}

.errorInput {
    border: 2px solid red;
    border-radius: 5px;
    width: 250px;
    padding: 5px;
    height: 20px;
    outline: none;
}

.error {
    font-size: 10pt;
    color: red;
}