.default {
    margin-left: 5px;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    padding: .4em 1em .4em 1em;
    cursor: pointer;
    font-size: 13pt;
}
.default:hover {
    background: #3c61b1;
}
.default:active{
    background-color: gray;
}
.default:focus{
    outline: none;
}
.default:disabled{
    background-color: gray;
}
.red {
    margin-left: 5px;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #ef2d2d;
    color: #fff;
    padding: .4em 1em .4em 1em;
    font-size: 13pt;
    cursor: pointer;
}
.red:active{
    background: #c41f1f;
}
.red:focus{
    outline: none;
}